* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, pink, lightBlue);
    padding-bottom: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    background-color: #00000030;
    border: none;
    height: 1px;
}

footer {
    height: fit-content;
    background-image: linear-gradient(to bottom right, pink, lightBlue);
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 6fr 2fr;
    margin-top: 3rem;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.header-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    gap: 1rem;
}

.header-iphone-image {
    justify-content: flex-end !important;
}

.header-title {
    max-width: 25rem;
    font-size: 3rem;
}

.download-buttons {
    display: inline-flex;
    flex-direction: row;
    gap: 1rem;
    object-fit: contain;
}

.btn {
    max-width: fit-content;
    border-style: none;
    padding: .75rem 2rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-apple-download:hover {
    background-color: whitesmoke;
}

.btn-apple-download {
    background-color: white;
}

.btn-google-play-download {
    border-color: white;
    border-style: solid;
    border-width: .075rem;
    background-color: transparent;
}

.btn-google-play-download:hover {
    background-color: white;
    color: black;
}

/* Main Body */

.main-features-container {
    height: 40vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 2rem;
}

.main-features-item {
    grid-row: 2;
    display: grid;
    grid-template-columns: 3.5rem 1fr;
    grid-template-rows: 100%;
    gap: 1rem;
}

.icon-background {
    height: 50px;
    width: 50px;
    background-color: rgb(241, 241, 241);
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-feature-heading {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .01rem;
}

/* Feedbacks and Companies */

.main-feedbacks {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 243, 243);
}

.main-feedbacks>img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 100rem;
    margin-top: 2.5rem;
    margin-bottom: .5rem;
}

.main-feedbacks>p:not(.main-feedbacks-dog-feedback) {
    font-size: 1.25rem;
    font-weight: 300;
}

.main-feedbacks-dog-feedback {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 5rem 5rem 0;
    text-align: center;
}

.main-feedback-companies-flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0;
}

.main-feedback-companies-flex-container>img {
    height: 2rem;
    width: fit-content;
}

.main-plans {
    height: fit-content;
}

.main-plans-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

.main-plans-sub-title {
    font-size: 1.25rem;
    color: #00000080;
    text-align: center;
    margin-bottom: 3rem;
}

.main-plans-pricing-container {
    width: 90vw;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.main-plans-pricing-item {
    flex: 1;
    max-width: 25rem;
    border-style: solid;
    border-radius: .5rem;
    border-color: #00000030;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.main-plans-pricing-item>div {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #00000007;
    border-bottom-color: #00000030;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 1.5rem;
    text-align: center;
}

.main-plans-pricing-container>.main-plans-pricing-item:nth-last-child(1)>div {
    width: 100%;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: white;
    background-color: #000000;
    font-size: 1.5rem;
    text-align: center;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.main-plans-pricing-item>p {
    font-size: 1.5rem;
    color: #00000080;
    margin: 1rem auto;
    text-align: center;
}

.main-plans-pricing-item>p>span {
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}

.main-plans-pricing-item>ul {
    list-style: none;
    object-fit: contain;
}

.main-plans-pricing-item>ul>li {
    text-align: center;
    margin: 0 .2rem;
}

.main-plans-pricing-item>button {
    flex: 1;
    width: 90%;
    border-style: none;
    padding: .5rem 2rem;
    border-radius: .25rem;
    margin: 1rem;
    font-size: 1.2rem;
}

.main-plans-pricing-container>.main-plans-pricing-item:nth-child(1)>button {
    background-color: white;
    border-style: solid;
    border-radius: .5rem;
    border-width: 1px;
    cursor: pointer;
}

.main-plans-pricing-container>.main-plans-pricing-item:nth-child(1)>button:hover {
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: .5rem;
    cursor: pointer;
}

.main-plans-pricing-container>.main-plans-pricing-item:not(:nth-child(1))>button {
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: .5rem;
    border-width: 1px;
    cursor: pointer;
}

.main-plans-pricing-container>.main-plans-pricing-item:not(:nth-child(1))>button:hover {
    background-color: #000000c7;
    color: white;
    border-style: solid;
    border-radius: .5rem;
    border-width: 1px;
    cursor: pointer;
}

/* Footer */
.footer-flex-container {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-flex-container>div:nth-child(2) {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    gap: 2rem;
}

.footer-flex-container>div>div>p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-flex-container>div>div>ul {
    list-style: none;
}

.footer-flex-container>div>div>ul>li {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: #00000080;
    margin-bottom: 1rem;
}

.footer-flex-container>div>div>ul>li:hover {
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

/* Mobile and Tablet View */
@media (max-width: 950px) {
    footer {
        grid-template-rows: 1fr 6fr 1fr;
        place-items: center;
    }

    .header-iphone-image {
        /* object-fit: scale-down; */
        min-width: 40%;
    }

    .header-container {
        margin-top: 5rem;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }

    .header-container>div:nth-child(1) {
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download-buttons {
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .main-features-container {
        height: fit-content;
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        gap: 1rem;
        margin: 2rem;
    }

    .main-features-item {
        height: min-content;
        grid-column: 1;
        display: grid;
        grid-template-columns: 3rem 1fr;
        grid-template-rows: 100%;
    }

    .header-item-1 {
        grid-row: 1;
    }

    .header-item-2 {
        grid-row: 2;
    }

    .header-item-3 {
        grid-row: 3;
    }

    .main-feedbacks {
        height: fit-content;
    }

    .main-feedback-companies-flex-container {
        flex-direction: column;
        gap: 2rem;
    }

    /* Pricing and Plans */

    .main-plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-plans-title {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-plans-sub-title {
        margin: 1rem 3rem 3rem;
    }

    .main-plans-pricing-container {
        height: fit-content;
        display: inline-grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .main-plans-pricing-item {
        width: 100%;
        max-width: 25rem;
        margin: none;
    }

    .footer-flex-container {
        grid-column: 2;
        grid-row: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;
    }
}